<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
<head>
<meta charset="UTF-8" />
<title>Books</title>
</head>
<body>
	<h1>Kirjat</h1>
	<!--<p>(Sijoitus 1=huonoin...5=paras)</p>-->
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Nimi</th>
			<th>Kirjailija</th>
			<th>Vuosi</th>
			<th>Hinta</th>
			<th>Poista</th>
			<th>Muokkaa</th>
			
		<tr th:each="book : ${books}">
			<td th:text="${book.id}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.publishingYear}"></td>
			<td th:text="${book.price}"></td>
	
			<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Poista</a></td>
			<td><a class="btn btn-primary" th:href="@{/edit/{id}(id=${book.id})}">Muokkaa</a></td>
		
		</tr>
	</table>
	
	
	<a class="btn btn-dark" href="/addBook">Lisää uusi kirja </a>
		

</body>
</html>