<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
<head>
<meta charset="UTF-8">
<title>Edit</title>
</head>
<body>
	<h1>Muokkaa tietoja</h1>
	<div>
		<form th:object="${book}" th:action="@{/saveBook}" action="#"
		method="post">
		
		<input type ="hidden" id="id" th:field="*{id}" />
		<div>
		<label for="title">Nimi</label>
		<input type ="text" id="title" th:field="*{title}" />
		</div>
		<div>
		<label for="author">Kirjailija</label>
		<input type ="text" id="author" th:field="*{author}" />
		</div>
		<label for="author">Isbn</label>
		<input type="text" id="isbn" th:field="*{isbn}" />
		<div>
		<label for="publishingYear">Julkaisuvuosi</label>
		<input type ="text" id="publishingYear" th:field="*{publishingYear}" />
		</div>
		<label for="price">Hinta</label>
		<input type ="text" id="price" th:field="*{price}" />
		
		<div>
		<input type="submit" value="Tallenna" class="btn btn-primary"></input>
		</div>
		</form>
		
		

</body>
</html>