<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8" />
<title>Index</title>
</head>
<body>
	<i>"Tervehdys" <b sec:authentication="name"></b>
	", roolisi on " <b sec:authentication="principal.authorities"></b>
	
		<h3>Aloitussivu</h3>
	</i>
		<a href="/booklist">Mene kirjalistaukseen</a><br>
		<a sec:authorize="hasAuthority('ADMIN')" href="category/categoryList">Mene kategorialistaukseen</a><br><br>
	
	<a href="/logout"><i>Kirjaudu ulos</i></a>

</body>
</html>